In [2]:
pip list

Package                           Version
--------------------------------- --------------------
aiobotocore                       2.25.0
aiodns                            3.5.0
aiohappyeyeballs                  2.6.1
aiohttp                           3.13.2
aioitertools                      0.12.0
aiosignal                         1.4.0
alabaster                         0.7.16
altair                            5.5.0
anaconda-anon-usage               0.7.5
anaconda-auth                     0.12.0
anaconda-catalogs                 0.2.0
anaconda-cli-base                 0.7.0
anaconda-client                   1.14.0
anaconda-navigator                2.7.0
anaconda-project                  0.11.1
annotated-types                   0.7.0
anyio                             4.10.0
appdirs                           1.4.4
APScheduler                       3.11.0
archspec                          0.2.5
argon2-cffi                       21.3.0
argon2-cffi-bindings              25.1.0
arrow                             1.4.0
astroid                           3.3.11
astropy                           7.1.1
astropy-iers-data                 0.2025.11.10.0.38.31
asttokens                         3.0.0
async-lru                         2.0.5
asyncssh                          2.21.1
atomicwrites                      1.4.0
attrs                             25.4.0
Automat                           24.8.1
autopep8                          2.0.4
babel                             2.17.0
bcrypt                            5.0.0
beautifulsoup4                    4.13.5
binaryornot                       0.4.4
black                             25.9.0
bleach                            6.3.0
blinker                           1.9.0
bokeh                             3.8.0
boltons                           25.0.0
botocore                          1.40.46
Bottleneck                        1.4.2
brotlicffi                        1.1.0.0
cachetools                        5.5.2
cattrs                            25.3.0
certifi                           2025.11.12
cffi                              2.0.0
chardet                           5.2.0
charset-normalizer                3.4.4
click                             8.2.1
cloudpickle                       3.1.1
colorama                          0.4.6
colorcet                          3.1.0
comm                              0.2.3
conda                             25.11.0
conda-anaconda-telemetry          0.3.0
conda-anaconda-tos                0.2.2
conda-build                       25.11.1
conda-content-trust               0.2.0
conda_index                       0.7.0
conda-libmamba-solver             25.11.0
conda-pack                        0.8.1
conda-package-handling            2.4.0
conda_package_streaming           0.12.0
conda-repo-cli                    1.0.173
constantly                        23.10.4
contourpy                         1.3.3
cookiecutter                      2.6.0
cryptography                      46.0.3
cssselect                         1.2.0
cycler                            0.11.0
dask                              2025.11.0
datashader                        0.18.2
debugpy                           1.8.16
decorator                         5.2.1
defusedxml                        0.7.1
diff-match-patch                  20200713
dill                              0.4.0
distributed                       2025.11.0
distro                            1.9.0
docstring-to-markdown             0.17
docutils                          0.21.2
et_xmlfile                        2.0.0
evalidate                         2.0.3
executing                         2.2.1
fastjsonschema                    2.21.2
filelock                          3.20.0
flake8                            7.1.1
Flask                             3.1.1
Flask-Login                       0.6.3
fonttools                         4.60.1
frozendict                        2.4.6
frozenlist                        1.8.0
fsspec                            2025.10.0
gitdb                             4.0.12
GitPython                         3.1.45
gmpy2                             2.2.1
google-ai-generativelanguage      0.6.15
google-api-core                   2.25.1
google-api-python-client          2.179.0
google-auth                       2.40.3
google-auth-httplib2              0.2.0
google-generativeai               0.8.5
googleapis-common-protos          1.70.0
greenlet                          3.2.4
grpcio                            1.74.0
grpcio-status                     1.71.2
h11                               0.16.0
h5py                              3.15.1
HeapDict                          1.0.1
holoviews                         1.22.0
html5lib                          1.1
httpcore                          1.0.9
httplib2                          0.30.0
httpx                             0.28.1
hvplot                            0.12.1
hyperlink                         21.0.0
idna                              3.11
ImageIO                           2.37.2
imagesize                         1.4.1
imbalanced-learn                  0.14.0
importlib_metadata                8.7.0
incremental                       24.7.2
inflection                        0.5.1
iniconfig                         2.1.0
intake                            2.0.8
intervaltree                      3.1.0
ipykernel                         6.31.0
ipympl                            0.9.7
ipython                           9.7.0
ipython_pygments_lexers           1.1.1
ipywidgets                        8.1.7
isort                             6.1.0
itemadapter                       0.12.1
itemloaders                       1.3.2
itsdangerous                      2.2.0
jaraco.classes                    3.4.0
jaraco.context                    0.0.0
jaraco.functools                  4.1.0
jedi                              0.19.2
jellyfish                         1.2.1
Jinja2                            3.1.6
jmespath                          1.0.1
joblib                            1.5.2
jpype1                            1.6.0
json5                             0.12.1
jsonpatch                         1.33
jsonpointer                       3.0.0
jsonschema                        4.25.0
jsonschema-specifications         2025.9.1
jupyter                           1.1.1
jupyter_client                    8.6.3
jupyter-console                   6.6.3
jupyter_core                      5.8.1
jupyter-events                    0.12.0
jupyter-lsp                       2.2.5
jupyter_server                    2.16.0
jupyter_server_terminals          0.5.3
jupyterlab                        4.4.7
jupyterlab_pygments               0.3.0
jupyterlab_server                 2.28.0
jupyterlab_widgets                3.0.15
jupytext                          1.19.1
keyring                           25.7.0
kiwisolver                        1.4.9
konlpy                            0.6.0
lazy_loader                       0.4
lckr_jupyterlab_variableinspector 3.2.4
libarchive-c                      5.1
libmambapy                        2.3.2
lief                              0.16.4
linkify-it-py                     2.0.3
llvmlite                          0.45.1
lmdb                              1.7.5
locket                            1.0.0
lsprotocol                        2025.0.0
lxml                              6.0.0
lz4                               4.4.5
Markdown                          3.8
markdown-it-py                    2.2.0
MarkupSafe                        3.0.2
matplotlib                        3.10.6
matplotlib-inline                 0.2.1
mccabe                            0.7.0
mdit-py-plugins                   0.5.0
mdurl                             0.1.2
menuinst                          2.4.1
mistune                           3.1.2
mkl_fft                           2.1.1
mkl_random                        1.3.0
mkl-service                       2.5.2
more-itertools                    10.8.0
mpi4py                            4.0.3
mpmath                            1.3.0
msgpack                           1.1.1
multidict                         6.7.0
multipledispatch                  1.0.0
mypy                              1.17.1
mypy_extensions                   1.0.0
narwhals                          2.7.0
navigator-updater                 0.6.0
nbclient                          0.10.2
nbconvert                         7.16.6
nbformat                          5.10.4
nest_asyncio                      1.6.0
networkx                          3.5
nltk                              3.9.2
notebook                          7.4.5
notebook_shim                     0.2.4
numba                             0.62.1
numexpr                           2.14.1
numpy                             2.3.5
numpydoc                          1.9.0
openpyxl                          3.1.5
overrides                         7.7.0
packaging                         25.0
pandas                            2.3.3
pandocfilters                     1.5.1
panel                             1.8.3
param                             2.3.0
parsel                            1.10.0
parso                             0.8.5
partd                             1.4.2
pathspec                          0.12.1
patsy                             1.0.1
pexpect                           4.9.0
pickleshare                       0.7.5
pillow                            12.0.0
pip                               25.2
pkce                              1.0.3
pkginfo                           1.12.0
platformdirs                      4.5.0
plotly                            6.3.0
pluggy                            1.5.0
pooch                             1.9.0
prometheus_client                 0.21.1
prompt_toolkit                    3.0.52
propcache                         0.3.1
Protego                           0.4.0
proto-plus                        1.26.1
protobuf                          5.29.5
psutil                            7.0.0
ptyprocess                        0.7.0
pure_eval                         0.2.3
py-cpuinfo                        9.0.0
pyarrow                           21.0.0
pyasn1                            0.6.1
pyasn1_modules                    0.4.2
pycares                           4.10.0
pycodestyle                       2.12.1
pycosat                           0.6.6
pycparser                         2.23
pyct                              0.6.0
pycurl                            7.45.7
pydantic                          2.11.7
pydantic_core                     2.33.2
pydantic-settings                 2.12.0
PyDispatcher                      2.0.7
pydocstyle                        6.3.0
pyerfa                            2.0.1.5
pyflakes                          3.2.0
PyGithub                          2.8.1
Pygments                          2.19.2
PyJWT                             2.10.1
pylint                            3.3.8
pylint-venv                       3.0.3
pyls-spyder                       0.4.0
PyNaCl                            1.6.0
pyodbc                            5.3.0
pyOpenSSL                         25.3.0
pyparsing                         3.2.3
PyQt5                             5.15.11
PyQt5_sip                         12.17.0
PyQtWebEngine                     5.15.7
PySide6                           6.9.2
PySocks                           1.7.1
pytest                            8.4.2
python-dateutil                   2.9.0.post0
python-dotenv                     1.1.0
python-json-logger                3.2.1
python-lsp-black                  2.0.0
python-lsp-jsonrpc                1.1.2
python-lsp-ruff                   2.3.0
python-lsp-server                 1.13.1
python-slugify                    8.0.4
pytokens                          0.3.0
pytoolconfig                      1.2.6
pytz                              2025.2
pyuca                             1.2
pyviz_comms                       3.0.6
PyWavelets                        1.9.0
pywin32                           311
pywin32-ctypes                    0.2.2
pywinpty                          2.0.15
PyYAML                            6.0.3
pyzmq                             27.1.0
QDarkStyle                        3.2.3
qstylizer                         0.2.2
QtAwesome                         1.4.0
qtconsole                         5.7.0
QtPy                              2.4.3
queuelib                          1.8.0
readchar                          4.2.1
referencing                       0.37.0
regex                             2025.9.1
requests                          2.32.5
requests-file                     2.1.0
requests-toolbelt                 1.0.0
rfc3339_validator                 0.1.4
rfc3986_validator                 0.1.1
rich                              14.2.0
roman-numerals-py                 3.1.0
rope                              1.14.0
rpds-py                           0.28.0
rsa                               4.9.1
rtree                             1.4.1
ruamel.yaml                       0.18.16
ruamel.yaml.clib                  0.2.14
ruamel_yaml_conda                 0.17.21
ruff                              0.12.0
s3fs                              2025.10.0
scikit-image                      0.25.2
scikit-learn                      1.7.1
scipy                             1.16.1
Scrapy                            2.13.3
seaborn                           0.13.2
semver                            3.0.4
Send2Trash                        1.8.2
service-identity                  24.2.0
setuptools                        80.9.0
shellingham                       1.5.4
shiboken6                         6.9.2
sip                               6.12.0
six                               1.17.0
smmap                             4.0.0
sniffio                           1.3.0
snowballstemmer                   3.0.1
sortedcontainers                  2.4.0
soupsieve                         2.5
Sphinx                            8.2.3
sphinxcontrib-applehelp           2.0.0
sphinxcontrib-devhelp             2.0.0
sphinxcontrib-htmlhelp            2.1.0
sphinxcontrib-jsmath              1.0.1
sphinxcontrib-qthelp              2.0.0
sphinxcontrib-serializinghtml     2.0.0
spyder                            6.1.0
spyder-kernels                    3.1.1
SQLAlchemy                        2.0.43
stack_data                        0.6.3
statsmodels                       0.14.5
streamlit                         1.51.0
superqt                           0.7.6
sympy                             1.14.0
tables                            3.10.2
tabulate                          0.9.0
tblib                             3.1.0
tenacity                          9.1.2
terminado                         0.18.1
text-unidecode                    1.3
textdistance                      4.6.3
threadpoolctl                     3.6.0
three-merge                       0.1.1
tifffile                          2025.10.4
tinycss2                          1.4.0
tldextract                        5.1.2
toml                              0.10.2
tomli                             2.2.1
tomlkit                           0.13.3
toolz                             1.0.0
tornado                           6.5.1
tqdm                              4.67.1
traitlets                         5.14.3
truststore                        0.10.1
Twisted                           25.5.0
twisted-iocpsupport               1.0.2
typer                             0.17.4
typing_extensions                 4.15.0
typing-inspection                 0.4.1
tzdata                            2025.2
tzlocal                           5.3.1
uc-micro-py                       1.0.3
ujson                             5.11.0
uritemplate                       4.2.0
urllib3                           2.5.0
w3lib                             2.3.1
watchdog                          6.0.0
wcwidth                           0.2.13
webencodings                      0.5.1
websocket-client                  1.8.0
Werkzeug                          3.1.3
whatthepatch                      1.0.7
wheel                             0.45.1
widgetsnbextension                4.0.14
win_inet_pton                     1.1.0
winloop                           0.3.1
wrapt                             1.17.0
xarray                            2025.10.1
xlwings                           0.33.15
xyzservices                       2025.4.0
yapf                              0.43.0
yarl                              1.22.0
zict                              3.0.0
zipp                              3.23.0
zope.interface                    8.0.1
zstandard                         0.24.0
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~andas (C:\Users\User\AppData\Roaming\Python\Python313\site-packages)

In [2]:
import pandas as pd
import numpy as np

# 00. 판다스(Pandas) 기본 자료구조

## 1) 시리즈(Series)

In [8]:
# numpy 생성
arr = np.arange(100, 105)
arr

array([100, 101, 102, 103, 104])

In [9]:
s = pd.Series(arr)
s

0    100
1    101
2    102
3    103
4    104
dtype: int64

In [12]:
s = pd.Series(arr, dtype='int32')
s

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [10]:
s = pd.Series(['부장', '차장', '대리', '사원', '인턴'])
s

0    부장
1    차장
2    대리
3    사원
4    인턴
dtype: object

In [11]:
s = pd.Series([91, 2.5, '스포츠', 4, 5.16])
s

0      91
1     2.5
2     스포츠
3       4
4    5.16
dtype: object

In [13]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [14]:
s[0]

np.int32(100)

In [15]:
s[[1, 3]] # 값이 2개 들어가면 안되므로 감싸

1    101
3    103
dtype: int32

In [16]:
s[1:3]

1    101
2    102
dtype: int32

In [17]:
np.random.seed(0) # 없어질 명령어 
s = pd.Series(np.random.randint(10000, 20000, size=(10,)))
s

0    12732
1    19845
2    13264
3    14859
4    19225
5    17891
6    14373
7    15874
8    16744
9    13468
dtype: int32

In [19]:
rng = np.random.default_rng(42) # 추천 명령어
pd.Series(rng.integers(10000, 20000, 10))

0    10892
1    17739
2    16545
3    14388
4    14330
5    18585
6    10859
7    16973
8    12014
9    10941
dtype: int64

In [21]:
s>15000

0    False
1     True
2    False
3    False
4     True
5     True
6    False
7     True
8     True
9    False
dtype: bool

In [22]:
s[s>15000]

1    19845
4    19225
5    17891
7    15874
8    16744
dtype: int32

In [23]:
s = pd.Series(['마케팅', '경영', '개발', '기획', '인사'], index=['a', 'b', 'c', 'd', 'e'])
s

a    마케팅
b     경영
c     개발
d     기획
e     인사
dtype: object

In [24]:
s['d']

'기획'

In [25]:
s[3]

C:\Users\User\AppData\Local\Temp\ipykernel_24396\3172538273.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[3]

'기획'

In [26]:
s.iloc[3]

'기획'

In [27]:
s[['a', 'd']]

a    마케팅
d     기획
dtype: object

In [29]:
s = pd.Series(['마케팅', '경영', '개발', '기획', '인사'])
s

0    마케팅
1     경영
2     개발
3     기획
4     인사
dtype: object

In [30]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [32]:
s.index = list('abcde')
s

a    마케팅
b     경영
c     개발
d     기획
e     인사
dtype: object

In [34]:
s.values

array(['마케팅', '경영', '개발', '기획', '인사'], dtype=object)

In [35]:
s = pd.Series(['선화', '강호', np.nan, '소정', '우영'])
s

0     선화
1     강호
2    NaN
3     소정
4     우영
dtype: object

In [36]:
s.isnull() # nan 데이터 찾기

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [37]:
s.isna() # nan 데이터 찾기

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [38]:
s[s.isnull()]

2    NaN
dtype: object

In [39]:
s.notnull()

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [40]:
s[s.notnull()]

0    선화
1    강호
3    소정
4    우영
dtype: object

In [41]:
s = pd.Series(np.arange(100, 150, 10))
s

0    100
1    110
2    120
3    130
4    140
dtype: int64

In [42]:
s[1:3]

1    110
2    120
dtype: int64

In [43]:
s.index = list('가나다라마')
s

가    100
나    110
다    120
라    130
마    140
dtype: int64

In [44]:
s['나':'라'] # 숫자 인덱싱과 다르게 '라'까지 출력

나    110
다    120
라    130
dtype: int64

## < 1) 시리즈(Series) 연습문제 >

In [3]:
# dtype은 float32가 되도록 생성하세요
pd.Series(np.arange(3,12,2), dtype='float32')

0     3.0
1     5.0
2     7.0
3     9.0
4    11.0
dtype: float32

In [4]:
pd.Series(list('가나다라마'), dtype='object')

0    가
1    나
2    다
3    라
4    마
dtype: object

In [5]:
# 다음의 Series를 생성하고 sample 변수에 대입하고 출력하세요
sample = pd.Series(np.arange(10,60,10), index=['가','나','다','라','마'], dtype='int64')
sample

가    10
나    20
다    30
라    40
마    50
dtype: int64

In [6]:
# sample중 '나'와 '라' 데이터를 조회하세요
sample[['나','라']]

나    20
라    40
dtype: int64

In [7]:
np.random.seed(20)
sample2 = pd.Series(np.random.randint(100, 200, size=(15,)))
sample2

0     199
1     190
2     115
3     195
4     128
5     190
6     109
7     120
8     175
9     122
10    171
11    134
12    196
13    140
14    185
dtype: int32

In [8]:
# sample2 중 160 이하인 데이터만 필터하세요
sample2[sample2<=160]

2     115
4     128
6     109
7     120
9     122
11    134
13    140
dtype: int32

In [9]:
# sample2 중 130 이상 170 이하인 데이터만 필터하세요
sample2[sample2.between(130, 170)], sample2[(sample2>=130)&(sample2<=170)] # 두번째가 추천답

(11    134
 13    140
 dtype: int32,
 11    134
 13    140
 dtype: int32)

In [87]:
# 다음과 같은 Series를 생성해 주세요
pd.Series(['apple',np.nan,'banana','kiwi','gubong'], index=['가','나','다','라','마'], dtype='object')

가     apple
나       NaN
다    banana
라      kiwi
마    gubong
dtype: object

In [88]:
sample = pd.Series(['IT서비스', np.nan, '반도체', np.nan, '바이오', '자율주행'])
sample

0    IT서비스
1      NaN
2      반도체
3      NaN
4      바이오
5     자율주행
dtype: object

In [94]:
# sample 중 결측치 데이터만 필터하세요
sample[sample.isnull()]

1    NaN
3    NaN
dtype: object

In [95]:
# sample중 결측치가 아닌 데이터만 필터하세요
sample[sample.notnull()]

0    IT서비스
2      반도체
4      바이오
5     자율주행
dtype: object

In [96]:
np.random.seed(0)
sample = pd.Series(np.random.randint(100, 200, size=(10,)))
sample

0    144
1    147
2    164
3    167
4    167
5    109
6    183
7    121
8    136
9    187
dtype: int32

In [97]:
# sample에서 다음과 같은 결과를 가지도록 슬라이싱 하세요
sample[2:7]

2    164
3    167
4    167
5    109
6    183
dtype: int32

In [10]:
np.random.seed(0)
sample2 = pd.Series(np.random.randint(100, 200, size=(10,)), index=list('가나다라마바사아자차'))
sample2

가    144
나    147
다    164
라    167
마    167
바    109
사    183
아    121
자    136
차    187
dtype: int32

In [11]:
# sample2에서 다음과 같은 결과를 가지도록 슬라이싱 하세요
sample2['바':]

바    109
사    183
아    121
자    136
차    187
dtype: int32

In [12]:
sample2[:'다']

가    144
나    147
다    164
dtype: int32

In [13]:
sample2['나':'바']

나    147
다    164
라    167
마    167
바    109
dtype: int32

## 2) 데이터프레임(DataFrame)

In [70]:
pd.DataFrame([[1, 2, 3], 
              [4, 5, 6], 
              [7, 8, 9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [71]:
pd.DataFrame([[1, 2, 3], 
              [4, 5, 6], 
              [7, 8, 9]], columns=['가', '나', '다'])

   가  나  다
0  1  2  3
1  4  5  6
2  7  8  9

In [72]:
data = {
    'name': ['Kim', 'Lee', 'Park'], 
    'age': [24, 27, 34], 
    'children': [2, 1, 3]
}
pd.DataFrame(data)

   name  age  children
0   Kim   24         2
1   Lee   27         1
2  Park   34         3

In [74]:
data = {
    'name': ['Kim', 'Lee', 'Park'], 
    'age': [24, 27, 34], 
    'children': [2, 1, 3]
}

df = pd.DataFrame(data)
df

   name  age  children
0   Kim   24         2
1   Lee   27         1
2  Park   34         3

In [75]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [76]:
df.columns

Index(['name', 'age', 'children'], dtype='object')

In [77]:
df.values

array([['Kim', 24, 2],
       ['Lee', 27, 1],
       ['Park', 34, 3]], dtype=object)

In [78]:
df.dtypes

name        object
age          int64
children     int64
dtype: object

In [79]:
df.T

            0    1     2
name      Kim  Lee  Park
age        24   27    34
children    2    1     3

In [80]:
df.index = list('abc')
df

   name  age  children
a   Kim   24         2
b   Lee   27         1
c  Park   34         3

In [81]:
df['name']

a     Kim
b     Lee
c    Park
Name: name, dtype: object

In [82]:
type(df['name'])

pandas.core.series.Series

In [83]:
df[['name', 'children']]

   name  children
a   Kim         2
b   Lee         1
c  Park         3

In [85]:
df.rename(columns={'name':'이름'}) # 원본은 안바뀜 
# df.rename(columns={'name': '이름'}, inplace=True) # 영구적으로 바꿀때

     이름  age  children
a   Kim   24         2
b   Lee   27         1
c  Park   34         3

## < 2) 데이터프레임(DataFrame) 연습문제 >

In [14]:
# 다음의 DataFrame을 생성하세요
# 생성된 DataFrame은 df 변수에 할당합니다.
data = {
    'food': ['KFC','McDonald','SchoolFood'],
    'price': [1000, 2000, 2500],
    'rating': [4.5, 3.9, 4.2]
}
pd.DataFrame(data) # 추천답에서는 df=pd.DataFrame(data) 처럼 변수로 받아서 처리함

         food  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2

In [15]:
# food 컬럼과 rating 컬럼만 선택하여 출력하세요
pd.DataFrame(data)[['food', 'rating']]

         food  rating
0         KFC     4.5
1    McDonald     3.9
2  SchoolFood     4.2

In [16]:
# food 컬럼명을 place로 컬럼명을 변경해 주세요
pd.DataFrame(data).rename(columns={'food':'place'})

        place  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2